.item {
    padding: 10px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, .6);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    h3 {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        text-transform: capitalize;
    }
    p {
        font-size: 15px;
        font-style: italic;
    }
}