.controls {
    position: fixed;
    min-height: 100vh;
    min-width: 70px;
    top: 0;
    left: 0;
    background-color: #22bdec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    width: 100%;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    background-color: #22bdec;
    transition: .3s;
    margin-bottom: 2px;
    > * {
        margin: 3px 0;
        color: #fff;
    }
    &:hover {
        background-color: #72d9f8;
    }
}

.disabled {
    pointer-events: none;
    background-color: #ccc;
}